<p id="notice"><%= notice %></p>

<h1>Workout Workout Types</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workout_workout_types.each do |workout_workout_type| %>
      <tr>
        <td><%= link_to 'Show', workout_workout_type %></td>
        <td><%= link_to 'Edit', edit_workout_workout_type_path(workout_workout_type) %></td>
        <td><%= link_to 'Destroy', workout_workout_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workout Workout Type', new_workout_workout_type_path %>
