<%= render "shared/header" %>

<div class="container mt-5">
  <p class="center">
      <%= link_to "Dodaj novog korisnika", new_user_path, class: "btn btn-success btn-lg" %>
      <%= link_to "Uredi tipove korisnika", user_types_path, class: "btn btn-warning btn-lg" %>
  </p>
  <div class="p-5 bg-light rounded text-center mb-5">
    <h3 class="display-5">Lista korisnika</h3>
  </div>
  <%= render "shared/flash" %>
  
  <div class="center"> <%= will_paginate %> </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tip</th>
        <th scope="col">Ime</th>
        <th scope="col">Prezime</th>
        <th scope="col">Email</th>
        <th scope="col", class="center">Opcije</th>
      </tr>
      </thead>
      <tbody>
        <ul class="users">
          <%= render @users %>
        </ul>  
      </tbody>
  </table>
  </div>
  
  <div class="center"> <%= will_paginate %> </div>

</div>