<%= form_with model: workout_type, local: true, data: { turbo: false } do |form| %>
  <div class="mb-3">
    <%= form.label "Naziv tipa treninga" %><br>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label "Opis tipa treninga" %><br>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-success btn-lg" %>
  </div>
<% end %>