<%= render "shared/header" %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <h3 class="card-header py-3">Pregled tipa opreme</h3>
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th scope="row">Naziv</th>
            <td><%= @equipment_type.name %></td>
          </tr>
          <tr>
            <th scope="row">Opis</th>
            <td><%= @equipment_type.description %></td>
          </tr>
          </tbody>
        </table>
        <%= link_to "Izmeni", edit_equipment_type_path(@equipment_type), class: "btn btn-warning" %>
        <%= link_to 'Nazad', equipment_types_path, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>